.our-products-header {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  margin-top: 16px;
  padding: 18px;
}
.products-container {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

#product-card img {
  max-width: 100%;
}
.product-info {
  font-weight: 500;
  padding: 8px;
  text-align: center;
}
